

.header {

	display:flex;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;


}

.topnav {

	display: flex-inline;
	margin: 30px 10px;
	
}

.topnav a {
		/* border: 1px solid black; */
		
		padding: 0px 20px;
		color: black;
}


.logo {
	
	/* border: 1px solid black;*/

	color: MediumAquamarine;
	margin-right:auto;
	margin-left:30px;

}

img  {
	/*border: 1px dotted green; */

}

.main.container {
    display:flex;
    border: 1px solid black;
    justify-content:space-between;
    margin: 0px 240px;
    
       
}


.column.large {
    display:flex;
    width: 630px;
    border: 2px solid black;
    flex-direction:column;
    margin-top:40px;
    
    
    
   
    
}
.column.medium {
    display:flex;
    width: 300px;
    border: 1px solid black;
    display:flex;
    flex-direction:column;
    margin-top:40px
   

}

.column.small {
    width: 240px;
    border: 4px solid black;
    display:flex;
    flex-direction:column;
    margin-top:40px;
    margin-right:40px;
}

.story1 {
    display:flex;
    flex-direction: column;
    border: 1px solid black;
}
.title {
    border: 1px solid black;
    margin:0;
   
}
div { border: 1px solid black;}
}

.story1,.story2,.story3,.story4,.story5 {
    
    border: 1px solid black;
}

}

.midstory1,.midstory2,.midstory3,.midstory4 {
    border: 1px black solid;
}

.midstory2 p {
    margin:0;

}


.story1header {
    border:1px solid black;
}
.story3 p,.story5 p {
    margin:auto;
}

.story5 {
    margin-bottom:75px;
}

.midstory3 {
    padding-bottom:50px;
}